<nav class="navbar navbar-expand-md navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ .Site.Home.Permalink }}">
      {{ if $.Site.Params.icon }}
        {{ partial "fa-solid.html"  $.Site.Params.icon }}
      {{ end }}
      {{ .Site.Title }}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {{ range .Site.Menus.main }}
          <a class="nav-link" aria-current="page" href="{{ .URL }}">
            {{ if .Pre }}
              {{ partial "fa-solid.html" .Pre }}
            {{ end }}
            {{ .Name | safeHTML }}
          </a>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
