:root {
  --accent-color: #322620;
  --accent-hover-color: #fff9c2;
  --accent-contrast-color: white;
  --highlight-color: #7c5d50;
}

a {
  text-decoration: none;
  color: var(--highlight-color);
}

a:hover {
  text-decoration: underline;
  color: var(--hover-color);
}

#nav-border {
  background-color: var(--accent-color);
}

.nav-link {
  background-color: var(--accent-color);
  color: var(--accent-contrast-color);
}

.nav-link:hover {
  text-decoration: none;
  color: var(--accent-hover-color);
}

.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg,
.icon img {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.icon.baseline svg,
.icon img {
  top: 0.125em;
  position: relative;
}
