:root {
  --accent-color: #322620;
  --accent-hover-color: #fff9c2;
  --accent-contrast-color: white;
  --highlight-color: #7c5d50;
}

a {
  text-decoration: none;
  color: var(--highlight-color);
}

a:hover {
  color: var(--hover-color);
}

.navbar {
  background-color: var(--accent-color);
  color: var(--accent-contrast-color);
}

.nav-link,
.navbar-brand {
  color: var(--accent-contrast-color) !important;
}

.nav-link:hover,
.navbar-brand:hover {
  color: var(--accent-hover-color) !important;
}

.summary p {
  display: inline;
}
